.detail-page {
    .card-scroll {
        cursor: pointer;
        height: 100px;
        padding-top: 5px;
        padding-bottom: 20px;

    }

    .card-scroll:hover {
        opacity: 0.5;
    }

    .main-image {
        object-fit: contain !important;
        height: 500px;
    }
}